.jumbotron {
  background-color: #2471A3;
  color: white;
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.quotes {
  background-color: #B3B6B7;
  border-radius: 20px;
  padding: 10%;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
}

.quotes:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.cancel:hover {
  cursor: pointer;
}

.entry {
  background-color: #B3B6B7;
  border-radius: 20px;
  padding: 10%;
  font-family: 'Ubuntu', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
}

.entry:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

button {
  border-radius: 20px;
}

button:hover {
  background-color: #17618E;
}
