<div class="jumbotron">

  <h1>QUOTES-MANUFACTURE</h1>
  <hr>

</div>

<div class="container">

  <div class="row">

    <div class="col-md-6">

      <div class="entry">

        <app-quotes-form (formComplete)="addNewQuote($event)"></app-quotes-form>

      </div>

    </div>

    <div class="col-md-6">

      <div class="quotes">

        <h2><strong>Quotes</strong></h2>

        <ul class="list-unstyled">

          <div *ngFor="let quote of quotes; let i = index">

            <div class="cancel">

              <p style="color:red; padding-left:10%" class="font-weight-bold float-right" (click)="quoteDelete(quote)">X</p>

            </div>

            <li>{{ quote.quote }}</li>
            <p><i>{{ quote.author }}</i></p>

            <button class="btn  btn-info" (click)="onClick(i)">Show Details</button>

            <div *ngIf="quote.showDetails">

              <p>Uploaded by: {{ quote.name }}</p>
              <p>Uploaded: {{ quote.date | dateCount }} days ago</p>
              <app-votes></app-votes>

            </div>

            <br>

          </div>

        </ul>

      </div>

    </div>

  </div>

</div>
